const config = {
    apiKey: "your-apiKey",
    authDomain: "firebaseAuthDomain",
    databaseURL: "databaseURL",
    projectId: "projectId",
    storageBucket: "storageBucket",
    messagingSenderId: "messagingSenderId"
} 

module.exports = config;